.banner__title {
  font-weight: 900;
  font-size: 111px;
  line-height: 1.23;
  color: var(--textColor);
  display: block;
}
.banner__title span{}

.banner__text {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.45;
  letter-spacing: -0.02em;
  color: var(--textColor);
}

.banner__data {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.45;
  letter-spacing: 0.02em;
  color: var(--textColor);
}

.banner__apply {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.45;
  letter-spacing: -0.02em;
  color: var(--textColor);
}

.banner__button {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.02em;
  color: var(--textColor);
}

.banner {
  height: 968px;
  margin-bottom: 190px;
  display: flex;
}

.banner__contend {
  display: flex;
}

.banner__img {
  width: 50%;
  height: 968px;
}

.banner__contend {
  background: linear-gradient(360deg, #e0c340 0%, #dfc23e 3.93%, #e1c441 7.23%, #e3c743 10.23%, #e4c542 13.14%, #e6c744 16.22%, #e7c845 19.84%, #e5c643 24.38%, #e6c945 31%, #e3c743 37.19%, #e9ca48 43.33%, #edce49 50.36%, #f0d44c 56.57%, #f4d84f 62.71%, #f6da52 67.12%, #f7db53 73.77%, #f9dd55 79.08%, #f9df56 85.64%, #fae157 93.5%, #f9df56 100%);

}

.banner__block {
  width: 666px;
  height: 684px;
  margin: 128px 67px;
  display: block;
}